body{
    color: rgb(0, 0, 0);
    background-color: rgb(27, 179, 35);
    box-sizing: border-box;
   
}



.tablerow{
    align-items: center;
    row-gap: 50px;
    background-color: rgb(231, 231, 240);
    font-size: 25px;
    border: 9px;
}

.tablename{
    width: 130px;
    border: 3px solid rgb(0, 0, 0);
    border-bottom: 2px;
    border-right: 2px;
    padding: 20px;
    text-align: center;
}
.tablebrands{
    width: 130px;
    border: 3px solid rgb(26, 25, 25);
    border-bottom: 2px;
    border-right: 2px;
    padding: 20px;
    text-align: center;
}
.tableimage{
    width: 150px;
    border: 3px solid rgb(0, 0, 0);
    border-right: 2px;
    border-bottom: 2px;
    text-align: center;
    
}
.tableprice{
    width: 130px;
    border: 3px solid rgb(7, 7, 7);
    border-right: 2px;
    border-bottom: 2px;
    padding: 1px;
    text-align: center;
}
.tablerating{
    width: 130px;
    border: 3px solid rgb(0, 0, 0);
    border-right: 2px;
    border-bottom: 2px;
    padding: 20px;
    text-align: center;
}
.tablestocks{
    width: 130px;
    border: 3px solid rgb(0, 0, 0);
    border-right: 2px;
    border-bottom: 2px;
    padding: 20px;
    text-align: center;
}
.tablediscountedprice{
    width: 130px;
    border: 3px solid rgb(0, 0, 0);
    border-right: 2px;
    border-bottom: 2px;
    padding: 20px;
    text-align: center;
}
.tablecategory{
    width: 130px;
    border: 3px solid rgb(0, 0, 0);
    border-right: 2px;
    border-bottom: 2px;
    padding: 20px;
    text-align: center;
    border-right: 3px solid rgb(8, 8, 8);
}
.tableimagee{
    width: 180px;
    padding: 20px 20px 20px 20px;
    text-align: center;
}



